.sobreContain{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.sobre-curso{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.sobre-curso h2 {
    font-size: xxx-large;
    color:#00b142;
}

.sobre-curso p {
    font-size: x-large;
    margin-top:20px ;
}


.img-curso img{
    width: 400px;
    border-radius: 8px;
}


@media (max-width: 1500px){
    .sobreContain {
        padding: 80px 0px 150px 70px;
    }
    
}

@media (max-width: 1350px){
    .img-curso img{
        width: 80%;
    }
    .sobre-curso{
    max-width: 600px;
    }
    .sobreContain{
    gap: 80px;
}
}

@media (max-width: 1100px){
    .sobreContain{
        flex-direction: column;
        padding: 60px 20px ;
        gap: 10px;
        min-width: 100%;
    }
    .sobre-curso{
        min-width: 90%;
        text-align: center;
    }
    .img-curso img{
        width: 50%;
    }
    .img-curso{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px){
    .sobre-curso h2{
        font-size: xx-large;
    }
    .sobre-curso p{
        font-size: large;
    }
    .img-curso img{
        width: 100%;
    }
}