.sobreContain{
    padding: 80px 0px 150px 150px;
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.sobre-curso{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.sobre-curso h2 {
    font-size: 40px;
}

.sobre-curso p {
    font-size: 20px;
    margin-top:20px ;
}


.img-curso img{
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
}

.img-curso{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-curso p {
    margin-left: 0px;
    width: 80%;
    font-size: 20px;
    margin-top:20px ;
}

@media (max-width: 1500px){
    .sobreContain {
        padding: 80px 0px 150px 70px;
    }
    
}

@media (max-width: 1350px){
    .img-curso img{
        width: 80%;
    }
    .sobre-curso{
    max-width: 600px;
    }
    .sobreContain{
    gap: 80px;
}
}

@media (max-width: 1100px){
    .sobreContain{
        flex-direction: column;
        padding: 60px 20px ;
        gap: 10px;
        min-width: 100%;
    }
    .sobre-curso{
        min-width: 90%;
    }
    .img-curso img{
        width: 80%;
        border-radius: 10px;
    }
    .img-curso p {
    margin-left: 0;
    }
    .img-curso{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}