.button-compra{
    min-width: 100%;
    padding: 110px 260px;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: -25px;
}

.button-compra span {
    font-weight: bold;
}

@media (max-width: 1300px){
    .button-compra {
        padding: 40px 50px;
    }
}
