.box-container{
    padding: 0px 200px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    background-color: #141414;
}

@media (max-width: 1300px){
    .box-container {
        padding: 0px 70px;
    }
}
