.popUp{
    background-color: white;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    border-radius: 40px 40px 40px 0px;
}

.popUp img:nth-child(1) {
    width: 50px;
}

.popUp h2 {
    font-size: 28px;
    margin: 10px 0;
    color:#00b142;
}

.popUp p {
    font-size: 19px;
    margin-bottom: 10px;
}

@media (max-width: 1000px){
    .popUp {
       width: 100%;
       display: flex;
       align-items: center;
    }
    .img {
        display: flex;
        width: 100%;
        justify-content: start;
    }
}