.perguntas{
    padding: 90px 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.perguntas h2{
    font-size: 60px;
    color:#00b142;
}

@media (max-width: 1500px){
    .perguntas {
        padding: 40px 70px;
    }
}
@media (max-width: 700px){
    .perguntas {
        padding: 60px 20px ;
    }
}