.sobre-points{ 
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    color: white;
}

.sobre{
    padding: 100px 150px;
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-title{
    text-align: center;
    font-size: xx-large;
    padding-bottom: 24px;
}

.sobre-title p {
    color: #00b142;
    padding-top: 15px;
}

@media (max-width: 1500px){
    .sobre {
        padding: 40px 70px;
    }
}

@media (max-width: 1000px){
    .sobre {
        flex-direction: column;
        padding: 60px 20px ;
    }
    .sobre-points{
        width: 100%;
    }
}

@media (max-width: 500px){
    .sobre-title{
        font-size: x-large;
    }
}