.sobre-points{ 
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    color: white;
}

.sobre{
    padding: 100px 150px;
    background-color: black;

    display: flex;
    align-items: center;
}

@media (max-width: 1500px){
    .sobre {
        padding: 40px 70px;
    }
}

@media (max-width: 1000px){
    .sobre {
        flex-direction: column;
        gap: 60px;
        padding: 60px 20px ;
    }
    .sobre-points{
        width: 100%;
    }
}