.box {
    width: 230px;
    height: 200px;
    background-color: #FFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.box img {
    width: 30px;
    background-color: #FFF;
}
.box span {
    background-color: #FFF;
    font-weight: bold;
}