
.buttons button{
    background: none;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    text-align: start;
    cursor: pointer;
}

.buttons div{
    margin-left: 20px;
    font-size: x-large;
}

@media (max-width: 400px){
    .buttons button{
        font-size: x-large;
        
    }
    .buttons div{
        font-size: large;
    }
}